<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="build-aux"
        excluded="true">
        <dir
          name="snippet"/>
      </dir>
      <dir
        name="gnulib-tests"
        excluded="true">
        <dir
          name="glthread"/>
        <dir
          name="unistr"/>
        <dir
          name="uniwidth"/>
      </dir>
      <dir
        name="lib">
        <dir
          name="arpa"
          excluded="true"/>
        <dir
          name="glthread"/>
        <dir
          name="selinux"/>
        <dir
          name="sys"/>
        <dir
          name="unistr"/>
        <dir
          name="uniwidth"/>
      </dir>
      <dir
        name="src">
        <auto
          name="base64.c"
          excluded="true"/>
        <auto
          name="basename.c"
          excluded="true"/>
        <auto
          name="cat.c"
          excluded="true"/>
        <auto
          name="chcon.c"
          excluded="true"/>
        <auto
          name="chgrp.c"
          excluded="true"/>
        <auto
          name="chmod.c"
          excluded="true"/>
        <auto
          name="chown-core.c"
          excluded="true"/>
        <auto
          name="chown-core.h"
          excluded="true"/>
        <auto
          name="chown.c"
          excluded="true"/>
        <auto
          name="chroot.c"
          excluded="true"/>
        <auto
          name="cksum.c"
          excluded="true"/>
        <auto
          name="comm.c"
          excluded="true"/>
        <auto
          name="copy.c"
          excluded="true"/>
        <auto
          name="copy.h"
          excluded="true"/>
        <auto
          name="coreutils-arch.c"
          excluded="true"/>
        <auto
          name="coreutils-dir.c"
          excluded="true"/>
        <auto
          name="coreutils-vdir.c"
          excluded="true"/>
        <auto
          name="coreutils.c"
          excluded="true"/>
        <auto
          name="coreutils.h"
          excluded="true"/>
        <auto
          name="cp-hash.c"
          excluded="true"/>
        <auto
          name="cp-hash.h"
          excluded="true"/>
        <auto
          name="cp.c"
          excluded="true"/>
        <auto
          name="csplit.c"
          excluded="true"/>
        <auto
          name="cut.c"
          excluded="true"/>
        <auto
          name="date.c"
          excluded="true"/>
        <auto
          name="dd.c"
          excluded="true"/>
        <auto
          name="df.c"
          excluded="true"/>
        <auto
          name="dircolors.c"
          excluded="true"/>
        <auto
          name="dircolors.h"
          excluded="true"/>
        <auto
          name="dirname.c"
          excluded="true"/>
        <auto
          name="du.c"
          excluded="true"/>
        <auto
          name="echo.c"
          excluded="true"/>
        <auto
          name="env.c"
          excluded="true"/>
        <auto
          name="expand.c"
          excluded="true"/>
        <auto
          name="expr.c"
          excluded="true"/>
        <auto
          name="extent-scan.c"
          excluded="true"/>
        <auto
          name="extent-scan.h"
          excluded="true"/>
        <auto
          name="factor.c"
          excluded="true"/>
        <auto
          name="false.c"
          excluded="true"/>
        <auto
          name="fiemap.h"
          excluded="true"/>
        <auto
          name="find-mount-point.c"
          excluded="true"/>
        <auto
          name="find-mount-point.h"
          excluded="true"/>
        <auto
          name="fmt.c"
          excluded="true"/>
        <auto
          name="fold.c"
          excluded="true"/>
        <auto
          name="fs-is-local.h"
          excluded="true"/>
        <auto
          name="fs.h"
          excluded="true"/>
        <auto
          name="getlimits.c"
          excluded="true"/>
        <auto
          name="group-list.c"
          excluded="true"/>
        <auto
          name="group-list.h"
          excluded="true"/>
        <auto
          name="groups.c"
          excluded="true"/>
        <auto
          name="head.c"
          excluded="true"/>
        <auto
          name="hostid.c"
          excluded="true"/>
        <auto
          name="hostname.c"
          excluded="true"/>
        <auto
          name="id.c"
          excluded="true"/>
        <auto
          name="install.c"
          excluded="true"/>
        <auto
          name="ioblksize.h"
          excluded="true"/>
        <auto
          name="join.c"
          excluded="true"/>
        <auto
          name="kill.c"
          excluded="true"/>
        <auto
          name="lbracket.c"
          excluded="true"/>
        <auto
          name="libstdbuf.c"
          excluded="true"/>
        <auto
          name="link.c"
          excluded="true"/>
        <auto
          name="ln.c"
          excluded="true"/>
        <auto
          name="logname.c"
          excluded="true"/>
        <auto
          name="longlong.h"
          excluded="true"/>
        <auto
          name="ls-dir.c"
          excluded="true"/>
        <auto
          name="ls-ls.c"
          excluded="true"/>
        <auto
          name="ls-vdir.c"
          excluded="true"/>
        <auto
          name="ls.c"
          excluded="true"/>
        <auto
          name="ls.h"
          excluded="true"/>
        <auto
          name="make-prime-list.c"
          excluded="true"/>
        <auto
          name="md5sum.c"
          excluded="true"/>
        <auto
          name="mkdir.c"
          excluded="true"/>
        <auto
          name="mkfifo.c"
          excluded="true"/>
        <auto
          name="mknod.c"
          excluded="true"/>
        <auto
          name="mktemp.c"
          excluded="true"/>
        <auto
          name="mv.c"
          excluded="true"/>
        <auto
          name="nice.c"
          excluded="true"/>
        <auto
          name="nl.c"
          excluded="true"/>
        <auto
          name="nohup.c"
          excluded="true"/>
        <auto
          name="nproc.c"
          excluded="true"/>
        <auto
          name="numfmt.c"
          excluded="true"/>
        <auto
          name="od.c"
          excluded="true"/>
        <auto
          name="operand2sig.c"
          excluded="true"/>
        <auto
          name="operand2sig.h"
          excluded="true"/>
        <auto
          name="paste.c"
          excluded="true"/>
        <auto
          name="pathchk.c"
          excluded="true"/>
        <auto
          name="pinky.c"
          excluded="true"/>
        <auto
          name="pr.c"
          excluded="true"/>
        <auto
          name="primes.h"
          excluded="true"/>
        <auto
          name="printenv.c"
          excluded="true"/>
        <auto
          name="printf.c"
          excluded="true"/>
        <auto
          name="prog-fprintf.c"
          excluded="true"/>
        <auto
          name="prog-fprintf.h"
          excluded="true"/>
        <auto
          name="ptx.c"
          excluded="true"/>
        <auto
          name="pwd.c"
          excluded="true"/>
        <auto
          name="readlink.c"
          excluded="true"/>
        <auto
          name="realpath.c"
          excluded="true"/>
        <auto
          name="relpath.c"
          excluded="true"/>
        <auto
          name="relpath.h"
          excluded="true"/>
        <auto
          name="remove.c"
          excluded="true"/>
        <auto
          name="remove.h"
          excluded="true"/>
        <auto
          name="rm.c"
          excluded="true"/>
        <auto
          name="rmdir.c"
          excluded="true"/>
        <auto
          name="runcon.c"
          excluded="true"/>
        <auto
          name="selinux.c"
          excluded="true"/>
        <auto
          name="selinux.h"
          excluded="true"/>
        <auto
          name="seq.c"
          excluded="true"/>
        <auto
          name="shred.c"
          excluded="true"/>
        <auto
          name="shuf.c"
          excluded="true"/>
        <auto
          name="sleep.c"
          excluded="true"/>
        <auto
          name="sort.c"
          excluded="true"/>
        <auto
          name="split.c"
          excluded="true"/>
        <auto
          name="stat.c"
          excluded="true"/>
        <auto
          name="stdbuf.c"
          excluded="true"/>
        <auto
          name="stty.c"
          excluded="true"/>
        <auto
          name="sum.c"
          excluded="true"/>
        <auto
          name="sync.c"
          excluded="true"/>
        <auto
          name="system.h"
          excluded="true"/>
        <auto
          name="tac-pipe.c"
          excluded="true"/>
        <auto
          name="tac.c"
          excluded="true"/>
        <auto
          name="tail.c"
          excluded="true"/>
        <auto
          name="tee.c"
          excluded="true"/>
        <auto
          name="test.c"
          excluded="true"/>
        <auto
          name="test.copy.c"
          excluded="true"/>
        <auto
          name="timeout.c"
          excluded="true"/>
        <auto
          name="touch.c"
          excluded="true"/>
        <auto
          name="tr.c"
          excluded="true"/>
        <auto
          name="true.c"
          excluded="true"/>
        <auto
          name="true.copy.c"
          excluded="true"/>
        <auto
          name="truncate.c"
          excluded="true"/>
        <auto
          name="tsort.c"
          excluded="true"/>
        <auto
          name="tty.c"
          excluded="true"/>
        <auto
          name="uname-arch.c"
          excluded="true"/>
        <auto
          name="uname-uname.c"
          excluded="true"/>
        <auto
          name="uname.c"
          excluded="true"/>
        <auto
          name="uname.h"
          excluded="true"/>
        <auto
          name="unexpand.c"
          excluded="true"/>
        <auto
          name="unlink.c"
          excluded="true"/>
        <auto
          name="uptime.c"
          excluded="true"/>
        <auto
          name="users.c"
          excluded="true"/>
        <auto
          name="wc.c"
          excluded="true"/>
        <auto
          name="who.c"
          excluded="true"/>
        <auto
          name="whoami.c"
          excluded="true"/>
        <auto
          name="yes.c"
          excluded="true"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Linux"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    merge_multiple_function_definitions="false"
    warning_level="NoWarnings"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <imports/>
</project>
